<link rel="stylesheet" href="/css/context.css" />
<link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet" href="/css/demand.css" />
<link rel = "stylesheet" media = "print" href = "/css/myprint.css">
<script src="https://cdn.jsdelivr.net/gh/davidshimjs/qrcodejs@gh-pages/qrcode.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<style>
</style>
<div class='D_main_header'>
    <header>
        <div class='SpravkaObOkonch_input'>
            <input type="text" id="registerInput">
            <button class="btnChange" id="registerChange">
                <p>Изменить Регистрационный номер</p>
            </button>
        </div>
        <h2>Академическая справка</h2>
        <div class="none" style="padding:20px">
            {{!-- 
             --}}
            <button onclick="myPrintFunction()" class="btnPrint">Печать</button>
        </div>
    </header>
</div>

<div class="demand">

        <div class="demand_top">
            <div class="demand-top_left">
                <h2>
                    МИНИСТЕРСТВО ОБРАЗОВАНИЯ И НАУКИ КЫРГЫЗСКОЙ РЕСПУБЛИКИ
                </h2>
                <h5>
                    Ошский государственный университет
                </h5>
                <h5>
                    Высшая школа международных образовательных программ
                </h5>
                <h2>
                    ТРАНСКРИПТ
                </h2>
            </div>
            <div id={{url}} class="qrcode" ></div>
        </div>

    <div class="demand_stud"> 
        <span class="stud_name">
            ФИО:
        </span>
        <span class="stud_content">
            ДЖУМАНАЗАРОВА АЙЗАТ АБДУВАЛИЕВНА
        </span>
    </div>
    <div class="demand_stud"> 
        <span class="stud_name">
            ID студента:
        </span>
        <span class="stud_content">
            21\44504
        </span>
    </div>
    <div class="demand_stud"> 
        <span class="stud_name">
            Дата рождения:
        </span>
        <span class="stud_content">
            16.06.2003
        </span>
    </div>
    <div class="demand_stud"> 
        <span class="stud_name">
            Направление:
        </span>
        <span class="stud_content">
            Международный бизнес (очная бакалавр) (ВШМОП)
        </span>
    </div>
    <div class="demand_stud"> 
        <span class="stud_name">
            Общий GPA:
        </span>
        <span class="stud_content">
            3.32
        </span>
    </div>
    <div class="demand_stud"> 
        <span class="stud_name">
            Всего зарегистрированых кредитов:
        </span>
        <span class="stud_content">
            60
        </span>
    </div>

    <p>
        2021-22 учебный год
    </p>
    <p>
        Осений семестр
    </p>
    <table>
        <thead>
            <tr>
                <td>
                    Код дисциплины
                </td>
                <td>
                    Дисциплина
                </td>
                <td>
                    Форма контроли
                </td>
                <td>
                    Кол. кредитов
                </td>
                <td>
                    Цифр. Эквив.
                </td>
                <td>
                    Буквен. система
                </td>
                <td>
                    Традиц. ситема
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>

                </td>
                <td class="text-start">
                    Концепция современного естествознания
                </td>
                <td>
                    Экзамен
                </td>
                <td>
                    4
                </td>
                <td>
                    4
                </td>
                <td>
                    A
                </td>
                <td>
                    отл
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td class="text-start">
                    Концепция современного естествознания
                </td>
                <td>
                    Экзамен
                </td>
                <td>
                    4
                </td>
                <td>
                    4
                </td>
                <td>
                    A
                </td>
                <td>
                    отл
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td class="text-start">
                    Концепция современного естествознания
                </td>
                <td>
                    Экзамен
                </td>
                <td>
                    4
                </td>
                <td>
                    4
                </td>
                <td>
                    A
                </td>
                <td>
                    отл
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td class="text-start">
                    Концепция современного естествознания
                </td>
                <td>
                    Экзамен
                </td>
                <td>
                    4
                </td>
                <td>
                    4
                </td>
                <td>
                    A
                </td>
                <td>
                    отл
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td class="text-start">
                    Концепция современного естествознания
                </td>
                <td>
                    Экзамен
                </td>
                <td>
                    4
                </td>
                <td>
                    4
                </td>
                <td>
                    A
                </td>
                <td>
                    отл
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td class="text-start">
                    Концепция современного естествознания
                </td>
                <td>
                    Экзамен
                </td>
                <td>
                    4
                </td>
                <td>
                    4
                </td>
                <td>
                    A
                </td>
                <td>
                    отл
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td class="text-end text7">
                    Зарегистрировано кредитов:
                </td>
                <td>
                    30	
                </td>
            </tr>
        </tbody>
    </table>
    <p>
        Весенний семестр
    </p>
    <table>
        <thead>
            <tr>
                <td>
                    Код дисциплины
                </td>
                <td>
                    Дисциплина
                </td>
                <td>
                    Форма контроли
                </td>
                <td>
                    Кол. кредитов
                </td>
                <td>
                    Цифр. Эквив.
                </td>
                <td>
                    Буквен. система
                </td>
                <td>
                    Традиц. ситема
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>

                </td>
                <td class="text-start">
                    Концепция современного естествознания
                </td>
                <td>
                    Экзамен
                </td>
                <td>
                    4
                </td>
                <td>
                    4
                </td>
                <td>
                    A
                </td>
                <td>
                    отл
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td class="text-start">
                    Концепция современного естествознания
                </td>
                <td>
                    Экзамен
                </td>
                <td>
                    4
                </td>
                <td>
                    4
                </td>
                <td>
                    A
                </td>
                <td>
                    отл
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td class="text-start">
                    Концепция современного естествознания
                </td>
                <td>
                    Экзамен
                </td>
                <td>
                    4
                </td>
                <td>
                    4
                </td>
                <td>
                    A
                </td>
                <td>
                    отл
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td class="text-start">
                    Концепция современного естествознания
                </td>
                <td>
                    Экзамен
                </td>
                <td>
                    4
                </td>
                <td>
                    4
                </td>
                <td>
                    A
                </td>
                <td>
                    отл
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td class="text-start">
                    Концепция современного естествознания
                </td>
                <td>
                    Экзамен
                </td>
                <td>
                    4
                </td>
                <td>
                    4
                </td>
                <td>
                    A
                </td>
                <td>
                    отл
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td class="text-start">
                    Концепция современного естествознания
                </td>
                <td>
                    Экзамен
                </td>
                <td>
                    4
                </td>
                <td>
                    4
                </td>
                <td>
                    A
                </td>
                <td>
                    отл
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td class="text-end text7">
                    Зарегистрировано кредитов:
                </td>
                <td>
                    30	
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td class="text-end text7">
                    Зарегистрировано кредитов:
                </td>
                <td>
                    30	
                </td>
            </tr>
        </tbody>
    </table>

    </div>

    <script >
        new QRCode(document.querySelector(".qrcode"), document.querySelector(".qrcode").id);
        document.querySelector("#print").onclick = function() {
            window.print();
        }
    </script>
    <script src="/js/print.js"></script>