<link rel="stylesheet" href="/css/context.css" />
<link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet" href="/css/demand.css" />
<link rel = "stylesheet" media = "print" href = "/css/myprint.css">
<script src="https://cdn.jsdelivr.net/gh/davidshimjs/qrcodejs@gh-pages/qrcode.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    
 
<div class="demand SpravkaObObuch ">
        <div class="demand_top">
            <div class="top-left" style="width: 280px;">
                <h2 class="top-left_title">
                    МИНИСТЕРСТВО ОБРАЗОВАНИЯ И НАУКИ КЫРГЫЗСКОЙ РЕСПУБЛИКИ
                </h2>
                <p class="text_norm top-left_text">
                    Ошский государственный университет
                </p>
                <p class="text_norm top-left_text">
                    Высшая школа международных образовательных программ
                </p>
                <p class="top_adr text_norm">
                    г. Ош, ул. Ленина 331
                    тел:
                </p>
            </div>
            <div class="demand-top_left">
                <h2 class="fs18t">
                    СПРАВКА № 2-10235-156682-3
                </h2>
                <h5 class="text_norm">
                    Настоящая справка подтверждает то, что
                </h5>
                <p class=" italic">
                    Бакытбек к Айназик
                </p>
                <p class="text-norm" style="width: 380px; margin: 0 auto    ;">
                    действительно является студенткой 1-курса группы ЕВ(б)-1-21 направления "undefined" (очная бакалавр).
                </p>
            </div>
        </div>
    <p class="text_norm">
        Общий срок обучения: 4 года.
    </p>
    <p class="text_norm">
        Справка выдана по месту требования.
    </p>
    
    <div class="educ_footer">
        <div class="educ-footer_left">
            <div id="sadas" class="qrcode" ></div>
            <p>
                06.08.2022 г., Инзильев Н. .
            </p>
        </div>
        <div class="educ-footer_right">
            <p class="educ-footer_right_first">
                Главный специалист Единого окна
            </p>
            <p class="educ-footer_right_second">
                ФИО_____________________________
            </p>
        </div>
    </div>

    </div>

       <script >
        new QRCode(document.querySelector(".qrcode"), document.querySelector(".qrcode").id);
        document.querySelector("#print").onclick = function() {
            window.print();
        }
    </script>
    <script src="/js/print.js"></script>