@media print {
  @page {
    size: landscape;
    margin: 0;
    font-family: "Times New Roman", Times, serif !important;
  }

  .D_main_header {
    display: none;
  }

  .hide {
    visibility: hidden !important;
  }

  .noprint {
    color: #000;
    visibility: hidden !important;
  }

  .none {
    display: none;
  }

  .enable-print {
    display: block;
  }

  .page-break {
    display: block;
    page-break-before: always;
  }
  .demand{
    width: 210mm!important;
    min-height: 270mm;  
  }
  table {
    border-collapse: collapse;
    border: 1px solid grey;
  }

}