@media print {
  @page {
    size: landscape;
    margin: 0;
  }
  .hide {
    visibility: hidden !important;
  }
  .noprint {
	  color:red;
  }
   .none {
    display: none;
  }
  .enable-print {
    display: block;
  }

  .page-break {
    display: block;
    page-break-before: always;
  }
  body {
    margin: 0;
    padding: 0;
  }
  .A4 {
    box-shadow: none;
    margin: 0;
    width: auto;
    height: auto;
    border: none;
    overflow: hidden;
    max-height: 100vh;
  }

  .border {
    border: 0.5px solid red;
  }
  .p3 {
    border-right: 0.5px solid red;
  }
  .p2 {
    border-left: 0.5px solid red;
    border-right: 0.5px solid red;
  }

  p,
  img,
  .title,
  .kyrgyz,
  .marked__line,
  .dots {
      /* display: none !important;  */
	   color: red;
  }

  /* page2 */

  .discipline-grid li:first-child {
    border-right: 1px solid red;
  }
  th {
   /* display: none !important;  */
	   color: red;

  }
  table,
  th,
  td {
    border: 0.5px solid red;
  }

  /* ///////////////////////////////// */
  span *:not(.print) {
   /* display: none !important;  */
   color: red;
	
  }
  .print {
    display: block !important;
    color: black;
  }
}
